.header {
  padding: 0.5rem;
  background-color: var(--color-secondary-olive-green);
  color: var(--text-primary);
}

.header nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.header .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
  margin-left: auto;
}